.logo {
    width: 200px;
    margin-bottom: 60px;   
}

body {
    margin: 0;
}

#carouselExampleSlidesOnly{
    margin-top: 30px;
    display: inline-block;
    width: 100%;
    padding: 60px;
   
    
}

.container-fluid {
    background-color: white;
}



.carousel-inner {
    border: solid 8px rgb(15, 12, 12);
    
}

.carousel-inner img {
    width: 100%;
    background-size: cover;
    max-height: 600px;
}

.navbar-center {
    position: static;
    
    
    
}

.btn {
    
    width: 200px;
    height: 50px;
    border-radius: 0%;
    
}

