.logo {
    
    margin-left: 37%;
    
}

#carouselExampleSlidesOnly{
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 1400px;
    width: 100%;
    padding: 60px;
   
    
}

.carousel-inner {
    border: solid 8px rgb(15, 12, 12);
    
}

.carousel-inner img {
    width: 100%;
    background-size: cover;
    max-height: 600px;
}